.column {
    display: flex;
    margin-left: 220px;
}

@media screen and (max-width: 1140px) {
    .column {
        width: 100%;
        display: block;
        margin-left: auto;
    }
}

.card {
    margin: auto;
    margin-bottom: 30px;
    min-height: 450px;
    width: 350px;
    min-width: 350px;
    text-align: center;
    line-height: 20px;
    background-color: rgb(236, 236, 236);
    #für {
        padding-bottom: 5px;
    }
    #img {
        padding-bottom: 40px;
        width: 200px;
    }
    #betrag {
        color: green;
        font-size: 40px;
    }
    #hinweis {
        margin-top: 30px;
        float: left;
        font-size: 20px;
        color: grey;
    }
    #hinweis::before {
        content: '\2713';
    }
}