<!-- Tarifkarten erstellen -->
<div class="row">
    <div class="column" *ngFor="let tarif of _preisBerechnen.Tarife">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ tarif.Bezeichnung }}</h5>
                <h6 id="für" class="card-subtitle mb-2 text-muted">{{ tarif.Fuer }}</h6>
                <img id="img" src="assets/img/{{ tarif.Img }}" alt="Tarif Bild">
                <p id="betrag" class="card-text">{{ tarif.ProJahr }} €</p>
                <app-dialog></app-dialog>
                <p id="imJahr" class="card-text">/ Jahr</p>
                <p id="imMonat" class="card-text">({{ tarif.ProMonat }} € / Monat)</p>
                <p id="hinweis" class="card-text">{{ tarif.Hinweis }}</p>
            </div>
        </div>
    </div>
</div>