<div class="überschrift">
    <h1>Übersicht</h1>
    <h3>1 Tarife</h3>
    <hr>
</div>
<div style="overflow-x: auto;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Bezeichnung</th>
                <th scope="col">Grundpreis</th>
                <th scope="col">Verbrauchspreis</th>
                <th scope="col">Einstellungen</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>LEW Autostrom</td>
                <td>14,00 €</td>
                <td>42,53 ct.</td>
                <td>
                    <form>
                        <button class="btn btn-info">Bearbeiten</button>
                        <button class="btn btn-danger">Löschen</button>
                    </form>
                </td>
            </tr>
        </tbody>
    </table>
</div>