.überschrift {
    margin-top: 40px;
    text-align: center;
    hr {
        width: 80%;
    }
}

table {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 900px;
    overflow-x: auto;
}

.btn-danger {
    margin-left: 10px;
}

.alert {
    width: 250px;
    margin-right: auto;
    margin-left: auto;
}

strong::before {
    content: '\2713';
}

#icon {
    filter: invert(100%);
    width: 30px;
}