<app-login></app-login>

<!-- Überschrift -->
<div class="überschrift">
    <h1>Übersicht</h1>
    <h3>{{ this._getTarife.Anzahl }} Tarife</h3>
    <hr>
</div>

<!-- Tabelle zur Übersicht erstellen  -->
<div style="overflow-x: auto;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Bezeichnung</th>
                <th scope="col">Grundpreis</th>
                <th scope="col">Verbrauchspreis</th>
                <th scope="col">Einstellungen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarif of _getTarife.Tarife">
                <th scope="row">{{ tarif.ID }}</th>
                <td>{{ tarif.Bezeichnung }}</td>
                <td>{{ tarif.Grundpreis }} €</td>
                <td>{{ tarif.Verbrauchspreis }} ct.</td>
                <td>
                    <form>
                        <button class="btn btn-info" (click)="sendId(tarif.ID)" routerLink="/Bearbeiten" title="Bearbeiten"><img id="icon" src="assets/img/icon-edit.svg" alt="Bearbeiten"></button>
                        <button class="btn btn-danger" (click)="deleteTarif(tarif.ID)" title="Löschen"><img id="icon" src="assets/img/icon-delete.svg" alt="Löschen"></button>
                    </form>
                </td>
            </tr>
            <tr>
                <button class="btn btn-success" routerLink="/Erstellen" title="Tarif Erstellen"><img id="icon" src="assets/img/icon-add.svg" alt="Tarif Erstellen"></button>
            </tr>
        </tbody>
    </table>

    <!-- Nachrichten -->
    <!-- <div class="alert alert-success alert-success fade show" role="alert" >
        <strong>Tarif wurde angelegt!</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
        </button>
    </div> -->
</div>