<!-- Überschrift -->
<div class="überschrift">
    <h1>Übersicht</h1>
    <h3>{{ Anzahl }} Tarife</h3>
    <hr>
</div>

<!-- Tabelle zur Übersicht erstellen  -->
<div style="overflow-x: auto;">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Bezeichnung</th>
                <th scope="col">Grundpreis</th>
                <th scope="col">Verbrauchspreis</th>
                <th scope="col">Einstellungen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let tarif of Tarife">
                <th scope="row">{{ tarif.ID }}</th>
                <td>{{ tarif.Bezeichnung }}</td>
                <td>{{ tarif.Grundpreis }} €</td>
                <td>{{ tarif.Verbrauchspreis }} ct.</td>
                <td>
                    <form>
                        <button class="btn btn-info" (click)="sendId(tarif.ID)" routerLink="/Bearbeiten">Bearbeiten</button>
                        <button class="btn btn-danger" (click)="deleteTarif(tarif.ID)">Löschen</button>
                    </form>
                </td>
            </tr>
            <tr>
                <button class="btn btn-success" routerLink="/Erstellen">Tarif Erstellen</button>
            </tr>
        </tbody>
    </table>
</div>