<!-- Creates the bootstrap modal where the image will appear -->
<div [style.display]="showModal ? 'block' : 'none'" class="modal" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">Login</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label>E-Mail</label>
                        <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && inputValues.email.errors }" />
                        <div *ngIf="submitted && inputValues.email.errors" class="invalid-feedback">
                            <div *ngIf="inputValues.email.errors.required">Email is required</div>
                            <div *ngIf="inputValues.email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Passwort</label>
                        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && inputValues.password.errors }" />
                        <div *ngIf="submitted && inputValues.password.errors" class="invalid-feedback">
                            <div *ngIf="inputValues.password.errors.required">Password is required</div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" style="width: 100%;" (click)="onSubmit()">Login</button>
            </div>
        </div>
    </div>
</div>