<!-- Wenn MySQL abbricht: https://community.apachefriends.org/f/viewtopic.php?p=275772&sid=7051faa5256ca965d5dcc45f91756564 -->
<!-- Überschirft -->
<div class="überschrift">
    <h1>Tarifrechner</h1>
    <hr>
</div>
<!-- Blaue Box und User Input -->
<div class="blueBox">
    <form class="blueBoxForm">
        <label id="labelJahresverbrauch">Ihr Jahresverbrauch</label><br>
        <input #kWh id="inputkWh" type="number" min="0" placeholder="3500" required>
        <label id="labelkWh">kWh</label>
        <button class="btn btn-success" (click)="_preisBerechen.preisBerechnen(kWh.value)">Jetzt berechnen</button>
    </form>
</div>

<app-tarif-card></app-tarif-card>