<!-- Überschirft -->
<div class="überschrift">
    <h1>Tarifrechner</h1>
    <hr>
</div>
<!-- Blaue Box und User Input -->
<div class="blueBox">
    <form class="blueBoxForm">
        <label id="labelJahresverbrauch">Ihr Jahresverbrauch</label><br>
        <input id="inputkWh" type="number" min="0" placeholder="3500" required>
        <label id="labelkWh">kWh</label>
        <button class="btn btn-success">Jetzt berechnen</button>
    </form>
</div>

<!-- Tarifkarten anzeigen -->
<app-tarif-card></app-tarif-card>