.überschrift {
    margin-top: 40px;
    text-align: center;
    hr {
        width: 80%;
    }
}

.blueBox {
    background-color: blue;
    height: 150px;
    width: 1000px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
}